bleach==1.5.0
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==1.0
numpy==1.13.1
olefile==0.44
Pillow==4.2.1
protobuf==3.4.0
scipy==0.19.1
six==1.10.0
tensorflow-tensorboard==0.1.5
uWSGI==2.0.15
Werkzeug==0.12.2
